// Template for custom CMake user presets.
// Set "COPY_PLUGIN_BASE_PATH" to your mod folder in MO2 or your Fallout 4 VR Data folder.
// Support multiple paths separated by semicolons (i.e. "<path1>;<path2>").
// Use "F4VR_COMMON_FRAMEWORK_PATH" to use existing F4VRCommonFramework instead of submodule.
// Rename the file to 'CMakeUserPresets.json' (it is in .gitignore to keep it local to you).
// Remove this comment block.
// Common runs:
// cmake --preset custom-fast
// cmake --preset custom-tests
// cmake --preset custom-release

{
  "version": 3,
  "configurePresets": [
    {
      "name": "custom",
      "cacheVariables": {
        "POST_BUILD_COPY_PLUGIN": false,
        "FRIK_PACKAGE_RELEASE": true,
        "F4VR_COMMON_FRAMEWORK_PATH": "",
        "COMMON_LIB_F4VR_PATH": ""
      },
      "inherits": ["cmake-dev", "vcpkg", "windows", "vs2022"]
    },
    {
      "name": "custom-fast",
      "cacheVariables": {
        "POST_BUILD_COPY_PLUGIN": true,
        "COPY_PLUGIN_BASE_PATH": "[MO2 modlist folder]/mods/FRIK 80 OR Fallout 4 VR mod folder]",
        "F4VR_COMMON_FRAMEWORK_PATH": "",
        "COMMON_LIB_F4VR_PATH": ""
      },
      "inherits": "fast"
    },
    {
      "name": "custom-tests",
      "cacheVariables": {
        "F4VR_COMMON_FRAMEWORK_PATH": "",
        "COMMON_LIB_F4VR_PATH": ""
      },
      "inherits": "tests"
    },
    {
      "name": "custom-release",
      "cacheVariables": {
        "F4VR_COMMON_FRAMEWORK_PATH": "",
        "COMMON_LIB_F4VR_PATH": ""
      },
      "inherits": "release"
    }
  ]
}
